<div class="jumbotron">
    <h2>
        Bienvenido!
    </h2>
    <p>
        Este es el sistema del administrador del hotel, donde se puede realizar las siguientes acciones.
    </p>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registrar Empleados</h5>
                    <p class="card-text">Puede registrar nuevos empleados.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Buscar</h5>
                    <p class="card-text">Se puede un empleado por su documento de identidad</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Actualizar</h5>
                    <p class="card-text">Se puede actualizar la información del empleado</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registrar los cargos</h5>
                    <p class="card-text">Se pueden resgistrar nuevos cargos</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">desvinuclar empleados</h5>
                    <p class="card-text">También se puede desvincular empleados </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Eliminar y actualizar los cargos </h5>
                    <p class="card-text">También se puede eliminar y actualizar los cargos </p>
                </div>
            </div>
        </div>

    </div>




</div>